<%= form_with(model: trainingsession, local: true) do |form| %>
  <% if trainingsession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trainingsession.errors.count, "error") %> prohibited this trainingsession from being saved:</h2>

      <ul>
        <% trainingsession.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
