/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$card-radius: 0rem;
$card-content-padding: 1rem;
$card-header-background-color: black;
$card-header-color: white;
$navbar-breakpoint: 100px;
$blue: hsl(240, 33%, 1%);
@import "bulma";
@import "font-awesome";
@import 'custom';